# Core functionality - changes here should be rare!
/src/app.py                   @Nurdaulet876
/src/backend/database.py      @Nurdaulet876
/src/backend/routers/auth.py  @Nurdaulet876

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Nurdaulet876
